html {
  font-size: 10px;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

a {
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}