$black: #000;
$white: #fff;
$basic-grey: #c6c6c6;
$mint: rgb(0, 176, 193);
$red: rgb(210, 0, 0);
$grey: grey;
$font-size-base: 1.4rem;
$line-height-base: 1.2;
$font-family-base: Open Sans, Arial, sans-serif;